@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

.hidden {
  width: 0;
  height: 0;
  font-size: 0;
  position: absolute;
  left: -9999px;
  overflow: hidden;
}

/* 검색창 부분 */
.search_box {
  width: 100%;
  height: 400px;
  background-color: #fff;
  position: absolute;
  z-index: 10000;
  display: none;
}

.search_box_container {
  width: 1200px;
  margin: 0 auto;
  height: 400px;
  position: relative;
  padding: 90px 0;
  box-sizing: border-box;
}

.search_box_container > button {
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
  background: none;
  cursor: pointer;
}

.search_enter:before {
  content: "";
  background: url("/hsu/images/searchbox_title.png");
  width: 26px;
  height: 16px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search_tit {
  display: flex;
  justify-content: center;
}

.search_tit > h1 {
  font-size: 50px;
  font-weight: normal;
}

.search_input {
  width: 830px;
  height: 60px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #2960c5;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}


.search_input input[type = "search"] {
  width: 770px;
  height: 60px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  border: 3px solid #2960c5;
  padding-left: 15px;
}

.search_input input[type = "search"]::placeholder {
  font-size: 18px;
  color: #999;
}

.search_input > button {
  width: 60px;
  height: 60px;
  border: none;
  background-color: none;
  padding: 0;
  background-color: #2960c5;
  cursor: pointer;
}

.search_word {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.search_word > p {
  color: #2960c5;
  font-size: 15px;
  margin-right: 30px;
}

.search_word > ul {
  display: flex;
  font-size: 15px;
}

.search_word > ul > li {
  position: relative;
}

.search_word > ul > li:not(:last-of-type) {
  margin-right: 20px;
}

.search_word > ul > li a:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #3069d0;
  position: absolute;
  left: -8px;
  bottom: calc(50% - 1.5px);
}

.search_word > ul > li a:hover {
  text-decoration: underline;
}
/* 검색창 부분 */

/* 헤더 부분 */
.header_container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.hd_slide_container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
}

.hd_slide_container_box {
  width: 100%;
  height: 400px;
}

#hd_slide_container_box1 {
  position: relative;
  background: url("../images/university_introduce_visual.jpeg") no-repeat center/cover;
}

#hd_slide_container_box1 > p {
  position: absolute;
  left: calc(50% - 100px);
  bottom: 111px;
  font-size: 58px;
  color: #fff;
  font-weight: bold;
}

.hd_menu_container {
  width: 100%;
  height: 120px;
  z-index: 100;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  box-sizing: border-box;
}

.hd_menu_container::after {
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #fff;
  position: absolute;
  top: 120px;
  opacity: 0.5;
}

.hd_menu_container.hmc_active {
  background: none;
}

.hd_menu_container > h1 {
  margin-left: 40px;
}

.logo_active {
  display: none;
}

.gnb {
  width: 1200px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb > li > a {
  display: block;
  font-size: 20px;
  color: white;
  padding: 50px 25px;
}

.gnb > li > a:hover {
  text-decoration: underline;
}

.hd_sub_link_box {
  background-color: #f1f1f1;
  width: 100%;
  height: auto;
  display: flex;
}

.hslb_tit {
  width: 620px;
  height: auto;
  background: rgba(41, 96, 197, 0.9) url("/hsu/images/hslb_tit.png") no-repeat right bottom;
  box-sizing: border-box;
  padding: 50px 0 0 360px;
}

.hslb_tit > p {
  font-size: 14px;
  color: white;
  opacity: 0.5;
  font-weight: bold;
}

.hslb_tit > h2 {
  font-size: 46px;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.hslb_contents_box {
  width: calc(100% - 980px);
  background-color: #f1f1f1;
  height: auto;
}

.hslb_contents_box > ul > li {
  width: 100%;
  display: flex;
}

.hslb_contents_box > ul > li:not(:last-of-type) {
  border-bottom: 1px solid #666;
}

.hslb_contents_box > ul > li > a {
  display: block;
  width: 260px;
  height: auto;
  background: rgba(0, 192, 195, 0.8);
  font-size: 18px;
  color: #fff;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
  align-items: center;
}

.hslb_contents_sl {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 260px);
}

.hslb_contents_sl > ul {
  display: flex;
  padding-left: 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.hslb_contents_sl > ul > li > a {
  display: flex;
  font-size: 16px;
  padding: 20px 0;
}

.hslb_contents_sl > ul > li:not(:last-of-type) > a:after {
  content: "";
  display: inline-flex;
  background: url("/hsu/images/hslb_contents_margin.png") no-repeat center;
  margin: 0 15px;
  width: 11px;
  height: 8px;
}

#hd_link_1 {
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 120px;
}

#hd_link_1 .hslb_contents_box > ul > li:nth-of-type(4) > .hslb_contents_sl > ul > li:nth-of-type(5) > a {
  padding: 0;
  padding-bottom: 20px;
}

#hd_link_1 .hslb_contents_box > ul > li:nth-of-type(6) > .hslb_contents_sl > ul > li:nth-of-type(6) > a {
  padding: 0;
  padding-bottom: 20px;
}

#hd_link_1 .hslb_contents_box > ul > li:nth-of-type(7) > .hslb_contents_sl > ul > li:nth-of-type(7) > a {
  padding: 0;
  padding-bottom: 20px;
}

#hd_link_2 {
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 120px;
  z-index: 1000;
}

#hd_link_3 {
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 120px;
  z-index: 1000;
}

#hd_link_3 .hslb_contents_box > ul > li:nth-of-type(2) > .hslb_contents_sl > ul > li:nth-of-type(6) > a, #hd_link_3 .hslb_contents_box > ul > li:nth-of-type(2) > .hslb_contents_sl > ul > li:nth-of-type(7) > a, #hd_link_3 .hslb_contents_box > ul > li:nth-of-type(2) > .hslb_contents_sl > ul > li:nth-of-type(8) > a {
  padding: 0;
  padding-bottom: 20px;
}

#hd_link_3 .hslb_contents_box > ul > li:nth-of-type(5) > .hslb_contents_sl > ul > li:nth-of-type(6) > a {
  padding: 0;
  padding-bottom: 20px;
}

#hd_link_4 {
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 120px;
  z-index: 1000;
}

#hd_link_4 .hslb_contents_box > ul > li:nth-of-type(9) > .hslb_contents_sl > ul > li:nth-of-type(7) > a, #hd_link_4 .hslb_contents_box > ul > li:nth-of-type(9) > .hslb_contents_sl > ul > li:nth-of-type(8) > a {
  padding: 0;
  padding-bottom: 20px;
}

#hd_link_5 {
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 120px;
  z-index: 1000;
}

#hd_link_6 {
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 120px;
  z-index: 1000;
}

#hd_link_6 > .hd_sub_link_box > .hslb_tit > span {
  display: block;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

#hd_link_6 > .hd_sub_link_box > .hslb_tit > span:nth-of-type(1) {
  margin-top: 40px;
}

#hd_link_6 > .hd_sub_link_box > .hslb_tit > span:nth-of-type(2) {
  margin-top: 30px;
}

.snb {
  height: 60px;
  display: flex;
  align-items: center;
}

.snb > li > a {
  font-size: 14px;
  color: white;
}

.snb > li > a:hover {
  text-decoration: underline;
}

.snb button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.snb > li:nth-of-type(1) > button > img {
  position: relative;
  bottom: 2px;
}
.snb_sa {
  display: none;
}

.snb > li:nth-of-type(1), .snb > li:nth-of-type(2), .snb > li:nth-of-type(3) {
  margin-right: 20px;
}

.snb > li:nth-of-type(4) > button {
  font-size: 14px;
  padding: 22px 30px 22px 15px;
  position: relative;
  color: white;
  background-color: rgba(0, 192, 195, 0.8);
  width: 108px;
}

.snb > li:nth-of-type(5) > button {
  font-size: 12px;
  padding: 23px 30px 23px 15px;
  position: relative;
  color: white;
  background-color: rgba(41, 96, 197, 0.9);
  height: 60px;
}

.snb_mi_lang {
  position: absolute;
  right: 8px;
  top: calc(50% - 1px);
  transition: 0.5s;
}

.snb_mi_lang.sml_active {
  transform: rotate(90deg);
}

.snb_mi_pop {
  position: absolute;
  right: 8px;
  top: calc(50% - 1px);
  transition: 0.5s;
}

.snb_mi_pop.smp_active {
  transform: rotate(90deg);
}

.lang_btn > ul {
  width: 108px;
  position: absolute;
  background-color: rgba(0, 192, 195, 0.8);
  top: 59px;
  left: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0 20px 15px;
  box-sizing: border-box;
  text-align: left;
  display: none;
}


.lang_btn > ul > li > a {
  display: block;
}

.lang_btn > ul > li:not(:last-of-type) > a {
  margin-bottom: 15px;
}

#route {
  width: 100%;
  height: 60px;
  background-color: #eaeef2;
  z-index: 1;
  position: relative;
}

#route::after {
  width: calc((100% - 1200px) / 2);
  height: 60px;
  background-color: #6a7c8c;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.route_container {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  background-color: #eaeef2;
  box-sizing: border-box;
  border-left: 1px solid #cdd3d9;
  display: flex;
  justify-content: space-between;
}

.route_select_box {
  display: flex;
  height: 60px;
  align-items: center;
}

.route_select_box > li:nth-of-type(1) > a {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #cdd3d9;
  box-sizing: border-box;
}

.route_select_box > li:not(:nth-of-type(1)) > button {
  padding: 20px 35px 20px 20px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  background-color: none;
  height: 60px;
  font-size: 16px;
  color: #5b636a;
  width: 180px;
  text-align: left;
  border-right: 1px solid #cdd3d9;
  position: relative;
}

.route_select_box > li:not(:nth-of-type(1)) > button > img {
  filter: invert(58%) sepia(14%) saturate(163%) hue-rotate(165deg) brightness(87%) contrast(86%);
  position: absolute;
  right: 15px;
  top: calc(50% - 8px);
}

.route_etc_box {
  display: flex;
}

.route_etc_box > li {
  position: relative;
}

.route_etc_box > li > button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.route_etc_box > li:nth-of-type(1) > button {
  background-color: #aabbcb;
}

.route_etc_box > li:nth-of-type(2) > button {
  background-color: #8699ab;
}

.route_etc_box > li:nth-of-type(2){
  position: relative;
}

.sns_share {
  display: flex;
  position: absolute;
  left: 60px;
  top: 0;
  transition: 1s;
}

.sns_share.sns_share_active {
  left: -240px;
}

.sns_share > li > a > button {
  padding: 0;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sns_share > li:nth-of-type(1) > a > button {
  background-color: #16e1ff;
}

.sns_share > li:nth-of-type(1) > a > button {
  background-color: #16e1ff;
}

.sns_share > li:nth-of-type(2) > a > button {
  background-color: #1456a7;
}

.sns_share > li:nth-of-type(3) > a > button {
  background-color: #e8e8e8;
}



.rsb_select_box {
  position: absolute;
  width: 180px;
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: #eaeef2;
}

.rsb_select_box > ul > li {
  position: relative;
}

.rsb_select_box > ul > li:before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #7f858a;
  position: absolute;
  left: 0;
  top: calc(50% - 1.5px);
}

.rsb_select_box > ul > li > a {
  display: block;
  font-size: 15px;
  color: #5b636a;
  box-sizing: border-box;
  padding-left: 10px;
}

.rsb_select_box > ul > li > a:hover {
  text-decoration: underline;
}

.rsb_select_box > ul > li:not(:last-of-type) > a {
  margin-bottom: 10px;
}

.ui_sel {
  transition: 0.2s ease-in-out;
}

.ui_sel.ui_sel_active {
  transform: rotateX(180deg);
}

.rsb_select_box {
  display: none;
}

#contents_tit {
  margin-top: 30px;
  border-bottom: 1px solid #cdd3d9;
}

.contents_tit_container {
  width: 1200px;
  margin: 0 auto;
}

.ct_tab_box {
  position: relative;
  display: none;
}

.ct_tab_box.ct_tab_box_active {
  display: block;
}

.ct_tab_move {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 100px;
}

.ct_tab_move > a {
  font-size: 25px;
  color: #888;
}

.ct_center_box {
  width: 370px;
  height: 100px;
  padding: 0 30px;
  box-sizing: border-box;
  position: absolute;
  left: calc(50% - 185px);
  top: 0;
}

.ct_center_box > a {
  position: absolute;
}

.upp {
  left: 0;
  top: calc(50% - 13px);
}

.upn {
  right: 0;
  top: calc(50% - 13px);
}

.ct_center_box > h2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ct_center_box > h2 > span {
  font-size: 40px;
  display: block;
  padding: 30px 0;
  box-sizing: border-box;
  position: relative;
}

.ct_center_box > h2 > span:after {
  display: block;
  content: "";
  width: 100%;
  height: 6px;
  background-color: #3069d0;
  position: absolute;
  bottom: 0;
}

#all_container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.scroll_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: auto;
  position: absolute;
  right: -125px;
  top: 0;
  width: 71px;
  height: auto;
  z-index: 9999;
}

.scroll_container.scst {
  bottom: 0;
}

#contents_img {
  margin-top: 60px;
}

.ci_container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.ci_tab_box {
  display: none;
}

.ci_tab_box.ci_tab_box_active {
  display: block;
}

.fh > h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.fh > h3:before {
  display: block;
  content: "";
  background: url("/hsu/images/ci_title.png");
  width: 20px;
  height: 12px;
  margin-bottom: 5px;
}

.fh_pattern_box {
  width: 1200px;
  height: 150px;
  padding: 10px 10px;
  box-sizing: border-box;
  background: url("/hsu/images/fh_pattern.png") repeat;
}

.fh_pattern_inside {
  width: 1180px;
  height: 130px;
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fh_pattern_inside > dl {
  display: flex;
  align-items: center;
}

.fh_pattern_inside > dl > dt {
  font-size: 20px;
  font-weight: bold;
  width: 100px;
}

.fh_pattern_inside > dl > dd {
  font-size: 16px;
  color: #555;
  margin-left: 20px;
}

.fi {
  margin-top: 60px;
  margin-bottom: 50px;
}

.fi > h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.fi > h3:before {
  display: block;
  content: "";
  background: url("/hsu/images/ci_title.png");
  width: 20px;
  height: 12px;
  margin-bottom: 5px;
}

.fi > p {
  color: #555;
  line-height: 1.2;
}

.ci_main_img_box {
  position: relative;
}

.ci_main_img_box > p {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 40px;
}

.ci_main_img_box > p > span {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  opacity: 0.5;
}

.ci_sub_img_container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub_img_box {
  width: 570px;
  height: 410px;
  margin-bottom: 60px;
  position: relative;
}

.sub_img_tit {
  width: 140px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub_img_tit > span {
  color: #fff;
  display: block;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

#review {
  margin: 30px 0;
}

.review_container {
  width: 1200px;
  margin: 0 auto;
}
.review_box {
  width: 1200px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
}

.rb_top {
  padding: 20px 35px;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.rb_top > p {
  font-size: 16px;
}

.rb_radiobox {
  margin-top: 10px;
}

.rb_radiobox > label {
  font-size: 16px;
  color: #555;
}

.rb_radiobox > label:not(:nth-of-type(5)) {
  margin-right: 20px;
}

.rb_radiobox > label > input[type = "radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
  position: relative;
  top: 2px;
}

.rb_searchbox {
  margin-top: 10px;
  display: flex;
}

.rb_searchbox > label.rbs {
  width: calc(100% - 100px);
}

.rb_searchbox > label.rbs > input[type = "search"] {
  width: 100%;
  height: 35px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-right: none;
  padding: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.rb_searchbox > label.rbs > input[type = "search"]::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #999;
}

.rb_searchbox > label.rbs > input[type = "search"]:focus::placeholder {
  color: transparent;
}

.rb_searchbox > label.rbs_submit > input[type = "submit"] {
  width: 100px;
  height: 35px;
  background-color: #202e70;
  border: 1px solid #757575;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.review_bot {
  box-sizing: border-box;
  padding: 15px 35px;
}

.review_bot > ul {
  display: flex;
}

.review_bot > ul > li {
  display: flex;
}

.review_bot > ul > li:nth-of-type(2) {
  margin-left: 45px;
}

.review_bot > ul > li > p {
  font-size: 16px;
  position: relative;
}

.review_bot > ul > li > p:after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #ccc;
  margin: 0 10px;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}

.review_bot > ul > li > span {
  display: block;
  color: #555;
}

.sc_top_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #7f838d;
  width: 60px;
  height: 60px;
  margin-top: 0;
  cursor: pointer;
  padding: 0;
}

.user_service_fix::before {
  background-color: #3069d0;
  width: calc((100% - 1200px) / 2);
  height: 600px;
  position: absolute;
  left: 0;
  display: block;
  content: "";
  z-index: 10000;
}
.user_service_fix {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  left: 0;
  background-color: black;
}
.usf_container {
  display: flex;
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}

.usf_tit {
  width: 180px;
  height: 60px;
  background-color: #3069d0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.usf_tit > h2 {
  margin-right: 30px;
  font-size: 17px;
  color: #fff;
}

.usf_tit > img {
  width: 21px;
  height: 21px;
}

.usf_container > ul {
  width: calc(100% - 180px);
  height: 60px;
  display: flex;
}

.usf_container > ul > li {
  width: 340px;
  height: 60px;
  background-color: black;
  border-right: 1px solid #1d2027;
  box-sizing: border-box;
  position: relative;
}

.usf_container > ul > li > button {
  background: none;
  border: none;
  padding: 17px 48px 19px 30px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.usf_container > ul > li > ul {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: black;
  padding: 0 30px;
  box-sizing: border-box;
  text-align: left;
}

.usf_container > ul > li > ul > li > a {
  font-size: 15px;
  color: white;
  padding: 15px 0;
  display: block;
  box-sizing: border-box;
}

.usf_container > ul > li > ul > li > a:hover {
  text-decoration: underline;
}

.usf_container > ul > li > ul > li:not(:last-of-type) > a {
  border-bottom: 1px solid #1d2027;
}

.usf_container > ul > li > button > p {
  font-size: 18px;
  color: #fff;
}

.usf_container > ul > li > button > span {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 15px;
  height: 15px;
  top: calc(50% - 7.5px);
  right: 28px;
  transition: 0.3s;
}

.usf_container > ul > li > button > span.sp_rot {
  transform: rotateX(180deg);
}

.usf_container > ul > li > button > span > img {
  transition: 0.3s;
}

.us_open {
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - 1.5px);
}

.us_open.uo_dn{
  display: none;
}

.us_close {
  display: none;
}

.us_close.uc_db {
  display: block;
}

.usf_container > ul > li:nth-of-type(1) > ul {
  position: absolute;
  left: 0;
  bottom: 61px;
  display: none;
}

.usf_container > ul > li:nth-of-type(2) > ul {
  position: absolute;
  left: 0;
  bottom: 61px;
  display: none;
}

.usf_container > ul > li:nth-of-type(3) > ul {
  position: absolute;
  left: 0;
  bottom: 61px;
  display: none;
}

footer {
  background-color: #42464d;
  margin-bottom: 60px;
}

.ft_top {
  border-bottom: 1px solid #2f353f;
}

.ft_top_container {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
}

.ftt_left {
  width: 600px;
  height: 60px;
  display: flex;
  background-color: #42464d;
}

.ftt_left > li {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.ftt_left > li > a {
  font-size: 15px;
  color: #fff;
  display: block;
}

.ftt_right {
  width: 600px;
  height: 60px;
  display: flex;
}

.ftt_right > li {
  width: 200px;
  height: 60px;
  background-color: #42464d;
  box-sizing: border-box;
}

.ftt_right > li.fttrl_active {
  background-color: #2f353f;
}

.ftt_right > li:nth-of-type(1){
  border-left: 1px solid #2f353f;
  border-right: 1px solid #2f353f;
}

.ftt_right > li:nth-of-type(2){
  border-right: 1px solid #2f353f;
}

.ftt_right > li:nth-of-type(3){
  border-right: 1px solid #2f353f;
}

.ftt_right > li > button {
  border: none;
  background: none;
  width: 200px;
  height: 60px;
  padding: 17px 34px 19px 20px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.fttr_arrow {
  transition: 0.3s;
}

.fttr_arrow.fttra_active {
  transform: scaleY(-1);
}

.ftt_right > li > button > span {
  font-size: 15px;
  color: #fff;
  display: block;
  text-align: left;
}

.ftt_right > li {
  position: relative;
}

.ftt_right > li > button > img {
  position: absolute;
  top: calc(50% - 4px);
  right: 20px;
}

.ftr_link_container {
  width: 200px;
  height: auto;
  position: absolute;
  bottom: 60px;
  left: 0;
  text-align: left;
  z-index: 1000;
}

.ftr_link_container > ul {
  background-color: #2f353f;
  border-bottom: 1px solid #42464d;
  padding: 15px 20px;
  box-sizing: border-box;
}


.ftr_link_container > ul > li > a {
  display: block;
  font-size: 15px;
  color: #fff;
  padding: 10px 0;
}

.ftr_link_container > ul > li > a:hover {
  text-decoration: underline;
}

.ftt_right > li:nth-of-type(1) > .ftr_link_container {
  display: none;
}

.ftt_right > li:nth-of-type(2) > .ftr_link_container_v2 {
  display: none;
}

.ftt_right > li:nth-of-type(3) > .ftr_link_container {
  display: none;
}

.ftr_link_container_v2 {
  width: 200px;
  height: auto;
  position: absolute;
  bottom: 60px;
  left: 0;
  text-align: left;
}

.ftr_link_container_v2  > ul {
  background-color: #2f353f;
  border-bottom: 1px solid #42464d;
  padding: 15px 20px;
  box-sizing: border-box;
}

.ftr_link_container_v2  > ul > li {
  font-size: 16px;
  color: #555;
}

.flcv_box {
  padding: 20px 15px;
}

.flcv_box > li > a {
  display: block;
  font-size: 15px;
  color: #fff;
  padding: 10px 0;
}

.flcv_box > li > a:hover {
  text-decoration: underline;
}

.ft_bot {
  width: 100%;
  height: auto;
}

.ft_bot_container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 38px 0;
  box-sizing: border-box;
  position: relative;
}

address {
  font-size: 13px;
  color: white;
  display: flex;
}

address > span {
  display: block;
  margin-left: 30px;
}

.ft_bot_container > p {
  font-size: 13px;
  color: #fff;
  margin-top: 5px;
}

.sns {
  position: absolute;
  display: flex;
  right: 0;
  top: calc(50% - 19px);
}

.sns > li:not(:last-of-type) {
  margin-right: 7px;
}

